<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PEER</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  
  <script src="https://d3js.org/d3.v6.min.js"></script>

  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/eyecon2x.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <content>
    <article>
      <section id="uploadSection">
      </section>
      <section id="tableSection">
      </section>
      <section id="descriptives">
      </section>
      <section id= "dataChart">
        <div id="chartProperties"></div>
        <div id="chart"></div>
      </section>
    </article>
    <aside>
      <div id = "ad-placeholder">
        <p>ad placeholder</p>
        <a href="https://play.google.com/store/apps/details?id=com.Savvy.Atom&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img src="https://play-lh.googleusercontent.com/ed7w4GrNpFebO42QXwfbUzB9TfDRSQq5cUiKqfyQv4bysdaTfpyVcgC1ZDpUzYq3aVY=w1920-h937-rw" alt="face logo"/></a>
      </div>
    </aside>
  </content>

  

  
  <div id="messageBox">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>
